<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Stripe Payment Demo</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>

    <h2>Welcome to payment Gateway!</h2>
    <form action="createSession" method="POST">
        <script 
         src="//checkout.stripe.com/v2/checkout.js"
         class="stripe-button"
         
         data-amount="5000"
         data-currency="inr"
         data-name="FoodApp"
         data-description="Buy food plan"
         data-locate="auto" >
        </script>
         
    </form>

  </body>
</html> -->

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
        <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
        <div class="description">
          <h3>Stubborn Attachments</h3>
          <h5>$20.00</h5>
        </div>
      </div>
      <form action="createSession" method="POST">
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
  </body>
</html> -->


<!DOCTYPE html> 
<html> 
<title>Stripe Payment Demo</title> 
<body> 
    <h3>Welcome to Payment Gateway</h3> 
    <form action="createSession" method="POST"> 
    <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="pk_test_51NBGzmSJyZLYvshzNUrkw6cOnHc9Qq8ZdcM5ecW4VVx8xfYRQ7At4OTrnBgIJhgqIRHrCpjuOtrXX9GuQbHIEOVJ00UdHDAyGW"
        data-amount="7000" 
        data-currency="usd" 
        data-name="FoodApp" 
        data-description="Buy Food Plan" 
        data-locale="auto" > 
        </script> 
    </form> 
</body> 
</html>




















